<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px" width="50" height="50">

## Python Review Lab

Types, Lists, and Dictionaries Review

---

In [8]:
# Enter student names here:
student_names = ['Jeremiah', 'Rahul', 'Kevin', 'Dave', 'Biff', 'Jody', 'Mike', 'Tandy', 'Marcus', 'Jolene', 'Layla']

---

### 1) What are the types of the following variables?

In [2]:
a = 1                                           #integer
b = 2.6                                         #float
c = [1,2,3,5,6]                                 #list
d = {'kiefer':'katovich', 'dave':'yerrington'}  #dictionary
e = ('one', 'two', 'three')                     #tuple
f = {1:{'key':'value'}, 2:{'key2':'value2'}}    #nested dictionary
g = True                                        #boolean
h = False                                       #boolean
i = 'integer'                                   #string

In [3]:
# A:

---

### 2) What is the difference between a "mutable" and an "immutable" object?

A: immutable objects can't be changed, they can only be replaced

---

### 3) Print the `student_names` list.

In [9]:
print(student_names)

['Jeremiah', 'Rahul', 'Kevin', 'Dave', 'Biff', 'Jody', 'Mike', 'Tandy', 'Marcus', 'Jolene', 'Layla']

---

### 4) Print the names of the first and last students on the list.

In [10]:
print(student_names[0])
print(student_names[-1])

Jeremiah
Layla

---

### 5) Print the first five names in the `student_names` list.

In [12]:
print(student_names[0:5])

['Jeremiah', 'Rahul', 'Kevin', 'Dave', 'Biff']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [14]:
nine_and_ten = student_names[8] + student_names[9]
print(nine_and_ten)

MarcusJolene

---

### 7) Append an animal to the list of animals.

In [56]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [57]:
animals.append('cheetah')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'cheetah']

---

### 8) Print the length of the `animals` list.

In [18]:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [20]:
print(len(animals[4])/len(animals[1]))

2.3333333333333335

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [21]:
print(float(len(animals[4])/len(animals[1])))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [55]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [23]:
animals.append(numbers)

In [49]:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [58]:
nums_and_animals = numbers + animals
print(nums_and_animals)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'cheetah']

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [59]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [64]:
names[names.index('kiefer')] = 'kevin'
print(names)

['doug', 'billy', 'kevin', 'kian', 'sam']

---

### 13) Sort the following list.

_Hint:_ Try the list's `sort` method!

In [66]:
mix = [12.999, 12, 1, 2, 3]

In [68]:
mix.sort()
print(mix)

[1, 2, 3, 12, 12.999]

---

### 14) Write a line of code that checks whether or not the first element of `mix` is greater than the second element.

In [76]:
if mix[0] > mix[1]:
    print(True)
else:
    print(False)

False

---

### 15) Find the index of `12` in the list.

In [79]:
print(mix.index(12))

3

---

### 16) Reverse the `mix` list.

_Hint:_ Use the list `reverse` method.

In [80]:
mix.reverse()

print(mix)

[12.999, 12, 3, 2, 1]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [81]:
popped_mix = mix.pop()
print(popped_mix)

1

---

### 18) Count the number of times `0` appears in the following list.

_Hint:_ Use the list `count` method.

In [83]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [84]:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [85]:
region_zips = {'sunset':94122, 'presidio':94129, 'soma':94105, 'marina':94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [86]:
soma_zip = region_zips['soma']
print(soma_zip)

94105

---

### 21) Get the keys out of the dictionary.

In [87]:
print(region_zips.keys())

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [90]:
region_zips_list = [(region, zip) for region, zip in region_zips.items()]
print(region_zips_list)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [30]:
region_zips['the castro'] = 94114

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [91]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [99]:
#A:

region_zips.update(small)

print(region_zips)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [100]:
#A:

sunset_pop = region_zips.pop('sunset')

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [101]:
if 'dogpatch' in region_zips:
    print('got it')
else:
    print('nope')

got it