<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 10px;" width="50" height="50">

# Python Fundamentals 1: Data Types

---

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Learn to use basic Jupyter Notebook features
- Define integers, strings, tuples, lists, and dictionaries
- Demonstrate arithmetic operations and string operations

## First and Foremost: Python is a Calculator
_(...just like every other programming language)_

Let's learn some common mathematical operations:

In [6]:
# Addition

print(1+2)
print('a'+'b')
print([1]+[2])

3
ab
[1, 2]

In [10]:
# Subtraction (note we can have negative numbers!)

print (1-2)
print({1,2,3,1,2,3})

-1
{1, 2, 3}

In [20]:
# Multiplication

print(3 * 10)
print('weeooo' * 3)
print(['weeooo']*4)
print([1,2]*4)

30
weeoooweeoooweeooo
['weeooo', 'weeooo', 'weeooo', 'weeooo']
[1, 2, 1, 2, 1, 2, 1, 2]

In [27]:
# Division

print(4/2)     #integer division yields a float
print(12//10)  #truncates result to an integer

print(2.1 - 2.)         #add decimal to force float
print(2.1 - 2. == 0.1)  #evaluates false bc of error

2.0
1
0.10000000000000009
False

In [29]:
# Exponentiation (do NOT use ^)

print(2**3)
print(2**0.5)

8
1.4142135623730951

In [30]:
# Modular division ("mod" for short)

print(99/4)
print(99%4)

24.75
3

In [31]:
# Floor division (ie "round down" division)

5//2

2

## Variables
Great - Python is just a fancy calculator. It's also important for us to be able to save numbers as **variables** so we can reference them later without memorizing their value.

## Naming Rules

> _There are only two hard things in Computer Science: cache invalidation and naming things._ - Phil Karlton

You can _pretty much_ name variables whatever you want. But, there are a few rules we should follow. Some are strict, some are just good manners.

### Variable naming rules (mandatory)
- Names can only consist of numbers, letters and underscores.
- Names can't begin with numbers.
- You can't name a variable after a built-in Python keyword (eg `if`).

### Variable naming rules (good manners)
- Names should _**always**_ be descriptive (ie, don't name variables `x` and `df`)
- No capital letters!
- Variables should not begin with an underscore (this means something special)
- Multi-word variables should be in `snake_case`. All lower case separated by underscores.
- Technically, you _can_ name variables after built-in Python _functions_ (like `print`), but it's an _extremely_ bad idea to do so.
    - Rule of thumb: If a variable name turns green, don't use it!
    
### Math exercise (sorry):
Recall the quadratic formula for solving a polynomial equation with coefficients $a$, $b$, $c$:

$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$

In [ ]:
a = 1
b = -8
c = 15

In [32]:
int(3.4)

3

## So, what is a "data type"?
When you hear the word "data", you probably think of a spreadsheet. Actually, **data is a synonym for information!** Anything that represents "information" is data. Including any and all Python variables. If I run `x = 3`, then `x` is data!

Data can come in various **types.** We've already seen two types!

1. The `int` type: Integers with no decimal part (eg `2`, `-30`, `14`)
1. The `float` type: Numbers with a decimal part, even if that part is zero (eg `2.5`, `3.141`, `2**0.5`, `-3.0`)

Curious about what an object's data type is? Simply use the `type()` function to ask!

```python
type(3) # int
type(4.2) # float
```

In [ ]:
type(3)

In [ ]:
type(4.2)

## Strings

---

Strings are how we store text data in Python. Strings are _strings of characters_ between either double quotes (`"`) or single quotes (`'`). Python doesn't care which as long as they match.

In [ ]:
"The pen is mightier than the sword!"

In [ ]:
'Single quotes work just fine too.'

In [ ]:
# Multi-line string

In [ ]:
# Escape characters

The **print** command prints the value assigned to the variable `x` on the screen. 

The **print** statement removes the quotations, whereas just running they jupyter cell with `x` at the last line leaves the quotations in.

You can use 'single' or "double" quotations to create a string variable.

## String Math!
Besides simply storing text, we can also operate on strings. Everything in Python has a **type**, and types can be operated on with their respective **methods**. Methods are actions we can perform on a type using the following syntax:

```python
variable.method(parameters)
```

In [97]:
s1 = "Be quiet"
s2 = "thisisalibrary"

In [98]:
s2.isalpha()

True

In [1]:
# Uppercasing is a method in Python
'hello world'.upper()

'HELLO WORLD'

In [2]:
# Also lowercase
'HeLlo WoRlD'.lower()

'hello world'

In [4]:
# There are plenty of commands. let's try out Jupyter's autocomplete
# feature to see what we can do!
'hello world'.casefold()

'hello world'

In [6]:
# Let's have some fun with .replace()!

'hello world'.replace('l', 'w')

'hewwo worwd'

In [11]:
# Also: An extremely useful method is .split()

'hello world'.split()

coffee_shops = 'Starbucks,Dunkin,Peets'

coffee_shops.split(',')

['Starbucks', 'Dunkin', 'Peets']

## Slicin' Strings
We may also want to pick apart our strings. We can do this by **indexing** or **slicing**. In fact, you can index or slice several different types in Python. For example:

- Strings
- Lists
- Tuples
- Sets

---

All of the above types can be accessed using brackets in the following ways:

- **`s[0]`** References the first element
- **`s[0:4]`** References the first **4** elements of a string from index **`0`**.
- **`s[-1]`** Reference the _first_ item in reverse order (or the last item).
- **`s[-2]`** Reference the _second_ item in reverse order (second to last item).
- **`s[0:-3]`** Reference everyting _execept the last 3_ elements.

In [2]:
#    0         1         2         3
#    0123456789012345678901234567890123456789
s = "Python programming is really fun"

In [3]:
len(s)

32

In [4]:
# First letter

s[0]

'P'

In [6]:
# Second letter
s[1]

'y'

In [8]:
# Second through fourth letter
s[1:4]

'yth'

In [10]:
# First 5 letters
s[:5]

'Pytho'

In [25]:
# Last letter
print(s[len(s)-1])
print(s[-1])

n
n

In [29]:
# Last 5 letters
s[-5:]

'y fun'

In [30]:
s[0::2]

'Pto rgamn sral u'

In [31]:
s[::-1]

'nuf yllaer si gnimmargorp nohtyP'

## Collection Types!

![](imgs/skittles.jpg)

We often want to store many values in one variable. A _collection_. There are several collection types in Python. The first and most common is...

### Lists
Lists are mutable, heterogeneous collections.

- **Mutable** = They can be changed
- **Heterogeneous** = They can hold values of different data types

In [70]:
names = ['Adi', 'Boom', 'Charlie', 'Daenerys', 'Elon', 'Francine']
names.append('Gary')
type(names)

list

In [33]:
# Reference 1st item
names[0]

'Adi'

In [34]:
# Reference 2nd item
names[1]

'Boom'

In [37]:
# Every other name, starting with the third
names[2::2]

['Charlie', 'Elon']

In [47]:
# Backwards!
names[3::-2]

['Daenerys', 'Boom']

### List Operations

In [52]:
# Append
names.append('Gary')

In [53]:
names

['Adi', 'Boom', 'Charlie', 'Daenerys', 'Elon', 'Francine', 'Gary']

In [ ]:
# Remove

In [62]:
# names.remove('Gary') -- "worst"
# names = names[:-1]   -- reassign list to names with last element removed
names.pop()          # -- removes and returns the item at an index, default last

'Gary'

In [71]:
# Join???

more_names = ['Dan', 'Julian', 'Pete']

names.extend(more_names)    #append will add the list as an element in the list
names += more_names         #extend will combine the list
names

['Adi',
 'Boom',
 'Charlie',
 'Daenerys',
 'Elon',
 'Francine',
 'Gary',
 'Dan',
 'Julian',
 'Pete',
 'Dan',
 'Julian',
 'Pete']

### Tuples
Tuples are less used than lists, but very similar. They are immutable and heterogeneous

- **Immutable** = Once made, they can never be changed.
- **Heterogeneous** = They can contain values of different types

For our purposes, you can just think of tuples as immutable lists. Their existence is partly legacy from a time when they were more useful. Traditionally they're only used to hold short sequences of variables.

In [64]:
family = ('Ken', 'Tina', 'Jeremy')

In [65]:
# Can slice and index like normal
family[0]

'Ken'

In [68]:
# Bzzzt! Illegal. Tuples are immutable.
# family.append('Chloe')

### Slight aside: Tuple unpacking
Tuples can be "unpacked". So can lists, but this is most common with tuples. This means that you can assign tuples elements to variables if you separate them by comma, like this:

In [ ]:
instructor = ("Noelle", "Brown")
first, last = instructor

In [ ]:
first

In [ ]:
last

We'll see tuple unpacking a few times throughout the course.

## Sets
We'll see sets pretty much never, but they're worth mentioning very briefly. They're unordered, unique collections. Just like traditional sets in a math class.

In [ ]:
my_grades = {'A', 'B+', 'A', 'C+', 'B-', 'B+', 'F'}
my_grades

In [ ]:

my_grades

In [ ]:

my_grades

In [ ]:
'B+' in my_grades

In [ ]:
your_grades = {'B+', 'B-', 'F-'}

In [ ]:
my_grades.intersection(your_grades)

In [ ]:
my_grades.union(your_grades)

## Dictionaries!

![](imgs/phonebook.jpeg)

Dictionaries are very common. They're unordered, mutable key-value pairs. Think of them like an actual dictionary. The key is the "word" and the value is the "definition".

In [ ]:
# Indexing

In [ ]:
# Bzzt! Remember, dictionaries are unordered. No such thing as "first" element
# music[0]

In [ ]:
# This is how you can delete a key. But keep in mind, if you need to do this, you're
# better off with a different data type. Perhaps a custom class.
# (We'll learn about classes and OOP in a few weeks).

In [ ]:
# What happens when we attempt to access a missing entry?
# music['doe']

In [ ]:
# You often want to have a "default" value for keys that don't exist.
# We can do this with the .get() method.
# Fun fact: some people ONLY access dictionary keys with the .get().
# This is starting to gain some traction and is thought to be a pretty good idea.

## Dictionaries are a big deal!

Dictionaries can get really big and really complicated, like the one below. You might think this is excessive, but it's very common. This is a very efficient way to store complicated data that don't fit neatly in a spreadsheet. In fact, dictionaries are the data type used by most web APIs! We'll need to parse big dictionaries to get data from the internet!

In [73]:
authors = {
    "J.R.R. Tolkien": {
        "genre": "fantasy",
        "books": [
            "The Fellowship of the Ring",
            "The Two Towers",
            "The Return of the King"
        ],
        "active": False
    },
    "Brandon Sanderson": {
        "genre": "fantasy",
        "books": [
            "The Way of Kings",
            "Words of Radiance",
            "Oathbringer"
        ],
        "active": True,
        "phone": {
            "home": "(281) 330-8004",
            "work": "(877) CASH-NOW"
        }
    },
    "Frank Herbert": {
        "genre": "science fiction",
        "books": ["Dune"],
        "phone": None,
        "active": False
    }
}

In [77]:
authors['Brandon Sanderson']['books'][1]

'Words of Radiance'

In [78]:
authors['Brandon Sanderson']['phone']['home'][1:4]

'281'

## Booleans

![](imgs/boole.jpg)

Booleans are variables that only have two different values: `True` and `False`. They're named after their founder, **George Boole** and will come in real handy when we discuss control flow this afternoon.

Booleans really only have three operations you can perform on them: `not`, `and`, and `or`.

In [ ]:
# not: Simply gives the opposite

In [ ]:
# and: A and B only yields True if both A and B are true
sky_blue = True
grass_green = True
pigs_fly = False

In [ ]:
# or: A and B only yields false if both A and B are false
matt_cool = False

## Cool story, Boole
So what? We rarely actually define variables to be `True` or `False`. More often, we get them from asking Python math problems.

In [ ]:
# Greater than

In [ ]:
# Less than

In [ ]:
# Greater than or equal to

In [ ]:
# THREAD: Fun stuff

In [ ]:
# Not equals to

In [ ]:
# Equals to

## Food for thought
- Why does `0.2 + 0.1 == 0.3` yield the answer it does?
- Why does `True == 1` yield the answer it does?
- Why does `"3" + 3` yield an error?
- What happens when you add two lists?
- What happens when you multiply a list (or a string!) by an integer? Why does this happen?
    - e.g. `"*" * 20` or `[1, 2, 3, 4] * 2`

## Practice Problems
1. The sum of two numbers is 104 and their difference is 32. What is the value of the larger number?

2. You are given a list of numbers: `numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]`. Print out the positive even numbers in the list in reverse order.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

3. Given the following dictionary `my_dict`, construct a new dictionary called `names` where the keys are the names of the people and the values are cities those people live in.

```python
my_dict = {0: {'name': 'Noelle',
             'city': 'DEN',
             'state': 'CO'},
          1: {'name': 'Dan',
             'city': 'LA',
             'state': 'CA'},
          2: {'name': 'Riley',
             'city': 'AUS',
             'state': 'TX'}
        }
```

In [ ]:
my_dict = {0: {'name': 'Noelle',
             'city': 'DEN',
             'state': 'CO'},
          1: {'name': 'Dan',
             'city': 'LA',
             'state': 'CA'},
          2: {'name': 'Riley',
             'city': 'AUS',
             'state': 'TX'}
        }

## Today we covered...
- Basic Jupyter Notebook use
- Basic math in Python
- String manipulation in Python
- Collection data types in Python
- Booleans in Python