# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Pandas for Exploratory Data Analysis I 

Pandas is the most prominent Python library for exploratory data analysis (EDA). The functions Pandas supports are integral to understanding, formatting, and preparing our data. Formally, we use Pandas to investigate, wrangle, munge, and clean our data. Pandas is the Swiss Army Knife of data manipulation!


We'll have two coding-heavy sessions on Pandas. In this one, we'll use Pandas to:
 - Read in a dataset
 - Investigate a dataset's integrity
 - Filter, sort, and manipulate a DataFrame's series

## About the Dataset: AdventureWorks Cycles

<img align="right" src="http://lh6.ggpht.com/_XjcDyZkJqHg/TPaaRcaysbI/AAAAAAAAAFo/b1U3q-qbTjY/AdventureWorks%20Logo%5B5%5D.png?imgmax=800">

For today's Pandas exercises, we will be using a dataset developed by Microsoft for training purposes in SQL server, known the [Adventureworks Cycles 2014OLTP Database](https://github.com/Microsoft/sql-server-samples/releases/tag/adventureworks). It is based on a fictitious company called Adventure Works Cycles (AWC), a multinational manufacturer and seller of bicycles and accessories. The company is based in Bothell, Washington, USA and has regional sales offices in several countries. We will be looking at a single table from this database, the Production.Product table, which outlines some of the products this company sells. 

A full data dictionary can be viewed [here](https://www.sqldatadictionary.com/AdventureWorks2014/).

Let's take a closer look at the Production.Product table [data dictionary](https://www.sqldatadictionary.com/AdventureWorks2014/Production.Product.html), which is a description of the fields (columns) in the table (the .csv file we will import below):
- **ProductID** - Primary key for Product records.
- **Name** - Name of the product.
- **ProductNumber** - Unique product identification number.
- **MakeFlag** - 0 = Product is purchased, 1 = Product is manufactured in-house.
- **FinishedGoodsFlag** - 0 = Product is not a salable item. 1 = Product is salable.
- **Color** - Product color.
- **SafetyStockLevel** - Minimum inventory quantity.
- **ReorderPoint** - Inventory level that triggers a purchase order or work order.
- **StandardCost** - Standard cost of the product.
- **ListPrice** - Selling price.
- **Size** - Product size.
- **SizeUnitMeasureCode** - Unit of measure for the Size column.
- **WeightUnitMeasureCode** - Unit of measure for the Weight column.
- **DaysToManufacture** - Number of days required to manufacture the product.
- **ProductLine** - R = Road, M = Mountain, T = Touring, S = Standard
- **Class** - H = High, M = Medium, L = Low
- **Style** - W = Womens, M = Mens, U = Universal
- **ProductSubcategoryID** - Product is a member of this product subcategory. Foreign key to ProductSubCategory.ProductSubCategoryID.
- **ProductModelID** - Product is a member of this product model. Foreign key to ProductModel.ProductModelID.
- **SellStartDate** - Date the product was available for sale.
- **SellEndDate** - Date the product was no longer available for sale.
- **DiscontinuedDate** - Date the product was discontinued.
- **rowguid** - ROWGUIDCOL number uniquely identifying the record. Used to support a merge replication sample.
- **ModifiedDate** - Date and time the record was last updated.

## Importing Pandas

To [import a library](https://docs.python.org/3/reference/import.html), we write `import` and the library name. For Pandas, is it common to name the library `pd` so that when we reference a function from the Pandas library, we only write `pd` to reference the aliased [namespace](https://docs.python.org/3/tutorial/classes.html#python-scopes-and-namespaces) -- not `pandas`.

In [1]:
import pandas as pd

%matplotlib inline

In [11]:
####################
# Grab Code from Slack
####################
# we can see the details about the imported package by referencing its private class propertys:
#print('I am using', pd.__name__, 'version:', pd.__version__, '\nIt is installed at:', pd.__path__)
#print('I am using', pd.name, 'version:', pd.version, '\nIt is installed at:', pd.path)

## Reading in Data

Pandas dramatically simplifies the process of reading in data. When we say "reading in data," we mean loading a file into our machine's memory.

When you have a CSV, for example, and then you double-click to open it in Microsoft Excel, the open file is "read into memory." You can now manipulate the CSV.

When we read data into memory in Python, we are creating an object. We will soon explore this object. _(And, as an aside, when we have a file that is greater than the size of our computer's memory, this is approaching "Big Data.")_

Because we are working with a CSV, we will use the [read CSV](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) method.<br>A [delimiter](https://en.wikipedia.org/wiki/Delimiter-separated_values) is a character that separates fields (columns) in the imported file. Just because a file says `.csv` does not necessarily mean that a comma is used as the delimiter. In this case, we have a tab character as the delimiter for our columns, so we will be using `sep='\t'` to tell pandas to 'cut' the columns every time it sees a [tab character in the file](http://vim.wikia.com/wiki/Showing_the_ASCII_value_of_the_current_character).

In [3]:
# read in Product dataset
prod = pd.read_csv('./datasets/Production.Product.csv', sep='\t')

In [4]:
prod.head(1)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000

*Documentation Pause*

How did we know how to use `pd.read_csv`? Let's take a look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). Note the first argument required (`filepath`).
> Take a moment to dissect other arguments and options when reading in data.

We have just created a data structure called a `DataFrame`. See?

In [ ]:
type(prod)

## Inspecting our DataFrame: The basics

We'll now perform basic operations on the DataFrame, denoted with comments.

In [ ]:
# print the first and last 3 rows
prod.head(3)
prod.tail(3)

Notice that `.head()` is a method (denoted by parantheses), so it takes arguments.

**Class Question:** 
- What do you think changes if we pass a different number `head()` argument?
- How would we print the last 5 rows?

In [ ]:
# identify the shape (rows by columns)
prod.shape

Here we have 504 rows, and 25 columns. This is a tuple, so we can extract the parts using indexing:

In [ ]:
# print the number of rows
prod.shape[0]

## Using the index
An [index](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html) is an immutable ndarray implementing an ordered, sliceable set. The basic object storing axis labels for all pandas objects. Think of it as a 'row address' for your data frame (table). It is best practice to explicitly set the index of your dataframe, as these are commonly used as [primary keys](https://en.wikipedia.org/wiki/Primary_key) which can be used to [join](https://www.w3schools.com/sql/sql_join.asp) your dataframe to other dataframes.

The dataframe can store different types (int, string, datetime), and when importing data will automatically assign a number to each row, starting at zero and counting up. You can overwrite this, which is what we are going to do.

In [ ]:
# displaying the index as it sits (auto-generated upon import)
prod.index

In [ ]:
# also note that our auto-generated index has no name
print(prod.index.name)

In [ ]:
####################
# Grab Code from Slack
####################
# Here we are looking at three columns;
# the one on the left is the index (automatically generated upon import by pandas)
# 'ProductID' is our PK (primary key) from our imported table. 'Name' is a data column.
# Notice that the generated index starts at zero and our PK starts at 1.
pd.DataFrame(prod.head(3)[['ProductID', 'Name']])

In [ ]:
# Setting the index overwrites the automatically generated index
# with our PK, which resided in the 'ProductID' column.
# inplace=True tells pandas to modify the DataFrame in place (do not create a new object)
prod.set_index('ProductID', inplace=True)
prod.head(3)[['Name']]

In [ ]:
# Note how our index property has changed as a result
prod.index

In [ ]:
# And our index has also inherited the name of our 'ProductID' column
print(prod.index.name)

## Column headers and datatypes

In [ ]:
# print the columns
prod.columns

In [ ]:
####################
# Grab Code from Slack
####################
# examine the datatypes of the columns
# note that these were automatically inferred by pandas upon import!
#pd.DataFrame(prod.dtypes, columns=['DataType'])
prod.dtypes

**Class Question:** Why do datatypes matter? What operations could we perform on some datatypes that we could not on others? Note the importance of this in checking dataset integrity.

## Selecting a Columns

We can select columns in two ways. Either we treat the column as an attribute of the DataFrame or we index the DataFrame for a specific element (in this case, the element is a column name).

In [ ]:
print('If I use SINGLE brackets, pandas returns a', 
      type(prod['Name']),
      '\nIf I use DOUBLE brackets, pandas returns a',
      type(prod[['Name']]))

In [ ]:
# select the Name column, Series object
prod['Name'].head(3)

In [ ]:
# select the Name column, DataFrame object
prod[['Name']].head(3)

In [ ]:
# selecting > 1 column (must use double brackets!)
prod[['Name', 'ProductNumber']].head(3)

**Class Question:** What if we wanted to select a column that has a space in it? Which method from the above two would we use? Why?

## Renaming Columns

Perhaps we want to rename our columns. There are a few options for doing this.

Renaming **specific** columns by using a dictionary:

In [ ]:
# rename one or more columns with a dictionary. Note: inplace=False will return a new dataframe,
# but leave the original dataframe untouched. Change this to True to modify the original dataframe.
prod.rename(columns={'Name': 'ProductName', 'ProductNumber':'Number'}, inplace=False).head(3)

Renaming **ALL** columns with a new list of column names.

Note that the `pd.DataFrame.columns` property can be cast to a `list` type. Originally, it's a `pd.core.indexes.base.Index` object:

In [ ]:
print('My columns look like:\n', prod.columns)
print('\nAnd the type is:\n', type(prod.columns))

We can explicitly cast these to a list object as such, by using the built-in `list()` function:

In [ ]:
print('Now my columns look like:\n', list(prod.columns))
print('\nAnd are of type:\n', type(list(prod.columns)))

We can place these columns into a variable, `cols`:

In [ ]:
# declare a list of strings - these strings will become the new column names
cols = list(prod.columns)
print(cols)

We can use list indexing to mutate the columns we want:

In [ ]:
cols[0] = 'NewName'
print(cols)

Finally, we can set the `pd.DataFrame.columns` property (this is a settable class property), to the new `cols` list, overwriting the existing columns header names:

In [ ]:
# Note that our first column name has changed from 'Name' to 'NewName'
prod.columns = cols
print(prod.columns)

In [ ]:
prod.head(3)[['NewName']]

## Common Column Operations

While this is non-comprehensive, these are a few key column-specific data checks.

**Descriptive statistics:**  the minimum, first quartile, median, third quartile, and maximum.

(And more! The mean too.)

Five Number Summary (all assumes numeric data):
- **Min:** The smallest value in the column
- **Max:** The largest value in the column
- **Quartile:** A quartile is one fourth of our data
    - **First quartile:** This is the bottom most 25 percent
    - **Median:** The middle value. (Line all values biggest to smallest - median is the middle!) Also the 50th percentile
    - **Third quartile:** This the the top 75 percentile of our data

![](https://www.mathsisfun.com/data/images/quartiles-a.svg)

In [ ]:
# note - describe *default* only checks numeric datatypes
prod[['MakeFlag', 'SafetyStockLevel', 'StandardCost']].describe()

**Value Counts:** `pd.Series.value_counts()` count the occurrence of each value within our series.

In [ ]:
# show the most popular product colors (aggregated by count, descending by default)
prod['Color'].value_counts()

**Unique values:** Determine the number of distinct values within a given series.

In [ ]:
# What are the unique colors for the products?
prod['Color'].unique()

In [ ]:
# HOW MANY distinct colors are there?
prod['Color'].nunique()

## Filtering

Filtering and sorting are key processes that allow us to drill into the 'nitty gritty' and cross sections of our dataset.

To filter, we use a process called **Boolean Filtering**, wherein we define a Boolean condition, and use that Boolean condition to filer on our DataFrame.

Recall: our given dataset has a column `Color`. Let's see if we can find all products that are `Black`. Let's take a look at the first 10 rows of the dataframe to see how it looks as-is:

In [ ]:
prod['Color'].head(10)

By applying a `boolean mask` to this dataframe, `== 'Black'`, we can get the following:

In [ ]:
prod['Color'].head(10) == 'Black'

Now we can use that 'mask' from above, and apply it to our full dataframe. Every time we have a `True` in a row, we return the row. If we have a `False` in that row, we do not return it. The result is a dataframe that only has rows where `Color` is `Black`:

In [ ]:
prod[prod['Color'] == 'Black'].head(3)

Let's calculate the **average ListPrice** for the **salable products**.

> Think: What are the component parts of this problem?

In [ ]:
# First, we need to get salable items. Use your data dictionary from the beginning of this lesson.
prod[prod['FinishedGoodsFlag'] == 1].head(3)

Now, we need to find average list price of those above items. Let's just get the 'ListPrice' column for starters.

In [ ]:
prod[prod['FinishedGoodsFlag'] == 1]['ListPrice'].head(3)

To get the average of that column, just take `.mean()`

In [ ]:
prod[prod['FinishedGoodsFlag'] == 1]['ListPrice'].mean()

We can take a shortcut and just use `.describe()` here:

In [ ]:
prod[prod['FinishedGoodsFlag'] == 1]['ListPrice'].describe()

**Sneak peek**: Another handy trick is to use `.hist()` to get a distribution of a continuous variable - in this case, `ListPrice`. We'll cover this more in future lessons:

In [ ]:
prod[prod['FinishedGoodsFlag'] == 1]['ListPrice'].hist(grid=False, bins=10)

## Sorting

We can sort one column of our DataFrame as well.

In [ ]:
# let's sort by standard cost, descending
prod.sort_values(by='StandardCost', ascending=False).head(3)

In [ ]:
type(prod['Color'].unique())

This one is a little more advanced, but it demonstrates a few things:
- Conversion of a `numpy.ndarray` object (return type of `pd.Series.unique()`) into a `pd.Series` object
- `pd.Series.sort_values` with the `by=` kwarg omitted (if only one column is the operand, `by=` doesn't need specified
- Alphabetical sort of a string field, `ascending=True` means A->Z
- Inclusion of nulls, `NaN` in a string field (versus omission with a float/int as prior example)

In [ ]:
pd.Series(prod['Color'].unique()).sort_values(ascending=True)

## Independent Exercises

Do your best to complete the following prompts. Don't hesitate to look at code we wrote together!

Print the first 4 rows of the whole DataFrame.

In [ ]:
# your answer here
prod.head(4)

How many rows are in the dataframe? Return the answer as an int.

In [ ]:
# your answer here
prod.shape[0]

How many columns? Retrun the answer as an int.

In [ ]:
# your answer here
prod.shape[1]

How many different product lines are there?

In [ ]:
# your answer here
prod['ProductLine'].nunique()

What are the values of these product lines?

In [ ]:
# your answer here
prod['ProductLine'].unique()

Do the number of values for the product lines match the number you have using `.nunique()`? Why or why not?

In [ ]:
# your answer here
# pd.Series.nunique() does not count nulls, seen as nan in a np.ndarray.

What's the length of the field corresponding to `Road` within the `ProductLine` column?

In [ ]:
# your answer here
print(prod['ProductLine'].unique()[1])
print(len(prod['ProductLine'].unique()[1]))

Do you notice anything odd about this?

In [50]:
# your answer here
# There is trailing whitespace! The horror!

How many products are there for the `Road` product line? Don't forget what you just worked on above! Return your answer as an int.

In [51]:
# your answer here
prod[prod['ProductLine'] == 'R '].shape[0]

100

How many products are there in the `Women's` `Mountain` category? Return your answer as an int. _Hint: Use the data dictionary above!_

In [52]:
# your answer here
prod[(prod['ProductLine'] == 'M ') & (prod['Style'] == 'W ')].shape[0]

11

**Challenge:** What are the top 3 _most expensive list price_ product that are either in the `Women's` `Mountain` category, _OR_ `Silver` in `Color`? Return your answer as a DataFrame object, with the `ProductID` index, `NewName` relabeled as `Name`, and `ListPrice` columns. Perform the statement in one execution, and do not mutate the source DataFrame.

In [53]:
# your answer here
prod[
    ((prod['ProductLine'] == 'M ') & (prod['Style'] == 'W ')) | 
    (prod['Color'] == 'Silver')].sort_values(
        by='ListPrice', ascending=False).head(3)[['NewName', 'ListPrice']].rename(columns={'NewName': 'Name'})

                              Name  ListPrice
ProductID
774        Mountain-100 Silver, 48    3399.99
771        Mountain-100 Silver, 38    3399.99
772        Mountain-100 Silver, 42    3399.99

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df.column_name.nunique() # number of unique values
df.column_name.value_counts() # number of occurrences of each value in column

# filtering
df[df.column_name < 50] # filter column to be less than 50

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼